<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
	<div class="field">
		<% @student.guarding_users.each do |guard|  %>
		<%= check_box_tag guard.id.to_s.to_sym, guard.id, true %>
		<%= f.label guard.id.to_s.to_sym, guard.name %><br>
		<% end %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
