<h1>Parents</h1>
<%= link_to 'New Student', new_student_path %>
<br>
<!--
<%= form_tag bind_students_path, class: 'form-inline' do %>
  <%= select_tag :student_id, options_for_select(@all_students), class: 'form-control' %>
  <%= select_tag :user_id, options_for_select(@all_users), class: 'form-control' %>
  <%= submit_tag 'Bind', class: 'btn btn-primary' %>
<% end %>
<br>
-->
<table class="table table-hover table-bordered table-condensed" style="text-align: center;">
  <thead>
    <tr>
      <th style="text-align: center;">Student Name</th>
      <th style="text-align: center;">Guardian Name</th>
      <th style="text-align: center;">Bind/Unbind</th>
    </tr>
  </thead>
  <tbody>
    <% if @unconfirmed.count > 0 and @students.count > 0 %>
      <tr>
        <td colspan="3"><h3>New Students</h3></td>
      </tr>
    <% end %>
    <% @unconfirmed.each do |student| %>
      <tr>
        <td style="font-size: 1.5em;"><%= student[:name] %></td>
        <td style="font-size: 1.5em;"><%= student[:guard].name %></td>
        <td><button class="btn btn-success", onClick="javascript: confirm(<%= "#{student[:id]}, #{student[:guard].id}" %>, 'guard');">Confirm</button></td>
      </tr>
    <% end %>

    <% if @students.count > 0 and @unconfirmed.count > 0 %>
      <tr>
        <td colspan="3"><h3>Current Students</h3></td>
      </tr>
    <% end %>
    <% @students.each do |student| %>
      <tr>
        <td style="font-size: 1.5em;"><%= student[:name] %></td>
        <td style="font-size: 1.5em;"><%= student[:guard].name %></td>
        <td><button class="btn btn-danger", onClick="javascript: unbind(<%= "#{student[:id]}, #{student[:guard].id}" %>, 'guard');">Unbind</button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Teachers</h1>
<br>
<table class="table table-hover table-bordered table-condensed" style="text-align: center;">
  <thead>
    <tr>
      <th style="text-align: center;">Student Name</th>
      <th style="text-align: center;">Teacher Name</th>
      <th style="text-align: center;">Bind/Unbind</th>
    </tr>
  </thead>
  <tbody>
    <% if @unconfirmed_teach.count > 0 and @students_teach.count > 0 %>
      <tr>
        <td colspan="3"><h3>New Students</h3></td>
      </tr>
    <% end %>
    <% @unconfirmed_teach.each do |student| %>
      <tr>
        <td style="font-size: 1.5em;"><%= student[:name] %></td>
        <td style="font-size: 1.5em;"><%= student[:teach].name %></td>
        <td><button class="btn btn-success", onClick="javascript: confirm(<%= "#{student[:id]}, #{student[:teach].id}" %>, 'teach');">Confirm</button></td>
      </tr>
    <% end %>

    <% if @students_teach.count > 0 and @unconfirmed_teach.count > 0 %>
      <tr>
        <td colspan="3"><h3>Current Students</h3></td>
      </tr>
    <% end %>
    <% @students_teach.each do |student| %>
      <tr>
        <td style="font-size: 1.5em;"><%= student[:name] %></td>
        <td style="font-size: 1.5em;"><%= student[:teach].name %></td>
        <td><button class="btn btn-danger", onClick="javascript: unbind(<%= "#{student[:id]}, #{student[:teach].id}" %>, 'teach');">Unbind</button></td>
      </tr>
    <% end %>
  </tbody>
</table>