<h1>PickUp My Kid</h1>
Vehicle:<br>
<% @vehicles.each do |v| %>
  <%= radio_button_tag 'vehicle', v.id, (@default_vehicle == v.id) %>
  <%= v.description %>
<% end %>
<br>
<br>

Locations:<br>
<% @locations.each do |l| %>
  <%= radio_button_tag 'location', l.id, (@default_location == l.id) %>
  <%= l.name %>
<% end %>
<br>
<br>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Vehicle</th>
    <th>Location</th>
    <th>Action</th>
  </tr>
  <% @students.each do |s| %>
    <tr>
      <td><%= s[:name] %></td>
      <td><%= s[:status] %></td>
      <td><%= s[:vehicle_id] %></td>
      <td><%= s[:location_id] %></td>
      <td><%= check_box_tag 'pick_up', s[:student_id], @default_students.include?(s[:student_id]) %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Pick Up', error_js_path, id: 'pick_up_sub' %>
