<table border="1">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Parent<br>Name</th>
    <th>Location</th>
  </tr>
  <% @students.each do |s| %>
    <tr>
      <td><%= s[:name] %></td>
      <td><%= s[:status].titlecase %></td>
      <td><%= s[:guardian] %></td>
      <td><%= s[:location] %></td>
    </tr>
  <% end %>
</table>
