<h1>Admin Portal</h1>
<h2>Users</h2>
<table border="0">
  <tr>
    <th>Name</th>
    <th>Email</th>
		<% Role.all.each do |r| %>
			<th><%= r.role %></th>
		<% end %>
    <th>Actions</th>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.name %></td>
      <td><%= u.email %></td>
			<% Role.all.each do |r| %>
				<% if u.id == current_user.id %>
					<td><%= check_box_tag u.id, r.id, (u.roles.include? r), disabled: true, onchange: 'modRole(this);' %></td>
				<% else %>
					<td><%= check_box_tag u.id, r.id, (u.roles.include? r), onchange: 'modRole(this);' %></td>
				<% end %>
			<% end %>
      <td><%= link_to 'Delete', user_delete_path(u.id), method: :delete, confirm: "Are you sure you want to remove #{u.name}?" %></td>
    </tr>
  <% end %>
</table><br>

<h2>Students | <%= link_to 'New', new_student_path %></h2>
<table border="0">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% @students.each do |s| %>
    <tr>
      <td><%= s.name %></td>
      <td><%= link_to 'Delete', student_path(s.id), method: :delete, confirm: "Are you sure you want to remove #{s.name}?" %></td>
    </tr>
  <% end %>
</table><br>
