<table class="table table-hover table-bordered">
	<thead>
		<th>Name</th>
		<th>Parent</th>
		<th>Teacher</th>
		<th>Admin</th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<% roles = user.roles.collect{|r| r.role} %>
			<tr class="<%= 'active' %>">
				<td><span style="font-size: 1.5em;"><%= user.name %></span></td>
				<% %w(Parent Teacher Faculty).each do |role| %>
				<td>
					<input type="checkbox" autocomplete="off" <%= 'checked' if roles.include? role %> id="<%= user.id %>" value="<%= role %>" onChange="modRole(this);">
				</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>