<%= render 'menu' %>
<%= link_to 'New Student', '/portal/parent/students/new' %>
<% if @students.count > 0 %>
	<h3>Students</h3>
	<table>
		<tr>
			<th>Student</th>
			<th>Status</th>
		</tr>
		<% @students.each do |s| %>
			<tr>
				<td><%= s[:name] %></td>
				<td><%= s[:status] %></td>
			</tr>
		<% end %>
	</table>
<% end %>
<% if @unconfirmed.count > 0 %>
	<h3>Unconfirmed Students</h3>
	<p>These students need to be confirmed by the principal or administrator to be picked up.</p>
	<ul>
		<% @unconfirmed.each do |s| %>
			<li><%= s[:name] %></li>
		<% end %>
	</ul>
<% end %>
