<%= render 'menu' %>
<%= link_to 'New Vehicle', '/portal/parent/vehicles/new' %>
<% if @vehicles.count > 0 %>
	<table>
		<tr>
			<th>Plate</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
		<% @vehicles.each do |v| %>
				<tr>
					<td><%= v[:plate] %></td>
					<td><%= v[:description] %></td>
					<td><%= link_to 'Edit', edit_vehicle_path(v) %></td>
				</tr>
		<% end %>
	</table>
<% end %>
