<%= form_for(@extra_activity) do |f| %>
  <% if @extra_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@extra_activity.errors.count, "error") %> prohibited this extra_activity from being saved:</h2>

      <ul>
      <% @extra_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ActName %><br>
    <%= f.text_field :ActName %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
