
<p id="notice"><%= notice %></p>

<h1>Listing Extra Activities</h1>

<table>
  <thead>
    <tr>
      <th>Actname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extra_activities.each do |extra_activity| %>
      <tr>
        <td><%= extra_activity.ActName %></td>
        <td><%= link_to 'Show', extra_activity %></td>
        <td><%= link_to 'Edit', edit_extra_activity_path(extra_activity) %></td>
        <td><%= link_to 'Delete', extra_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Extra activity', new_extra_activity_path %>
