<p id="notice"><%= notice %></p>

<p>
  <strong>Actname:</strong>
  <%= @extra_activity.ActName %>
</p>

<%= link_to 'Edit', edit_extra_activity_path(@extra_activity) %> |
<%= link_to 'Back', extra_activities_path %>
