<h1>School Dismissal</h1>
<p>This is a system under development, the beta version of the Android app can be downloaded <a href="https://play.google.com/apps/testing/com.myschooldismissal.school_dismissal_app">here</a>.</p>
