<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @history.status %>
</p>

<p>
  <strong>Location:</strong>
  <%= @history.location %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
