<button class="btn btn-danger" onClick="resetAll();">Reset</button>
<%= render 'menu' %>
<table border="0" id="status_view">
  <tr>
    <th>Absent</th>
    <th>Name</th>
    <th>Status</th>
    <th>Parent Name</th>
    <th>Location</th>
    <th>Action</th>
  </tr>
</table>
<script type="text/javascript">
  start_status_view();
</script>
