<%= render 'menu' %>
<%= link_to 'New Student', '/portal/teacher/students/new' %>
<% if @students.count > 0 %>
  <h3>Students</h3>
  <table>
    <tr>
      <th>Student</th>
      <th>Status</th>
    </tr>
    <% @students.each do |s| %>
      <tr>
        <td><%= s[:name] %></td>
        <td><%= s[:status] %></td>
      </tr>
    <% end %>
  </table>
<% end %>