<style type="text/css">
	body {
		background-color: #719876;
	}
</style>
<div id="register_div" class="white_box">
<h1>School registration</h1>
<%= form_for @reg, url: {action: 'register'} do |f| %>
  <div class="form-group">
  <%= label_tag :name %><br>
	<%= f.text_field :name, placeholder: 'My School Name here', onchange: 'genCode(this.value);', class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= label_tag :owner %><br>
	<%= f.text_field :owner, placeholder: 'John Doe', class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= label_tag :email %><br>
	<%= f.email_field :email, size: 30, placeholder: 'johndoe@myschoolname.com', class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= label_tag :password %><br>
	<%= f.password_field :password, minlength: 7, maxlength: 72, size: 30, placeholder: '7-72 Characters', class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= label_tag :password_confirmation %><br>
	<%= f.password_field :password_confirmation, minlength: 7, maxlength: 72, size: 30, placeholder: '7-72 Characters', class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= label_tag :address %><br>
	<%= f.text_field :address, placeholder: '123 Academy Dr.', class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= label_tag :city %><br>
	<%= f.text_field :city, placeholder: 'Chattanooga', class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= label_tag :state %><br>
	<%= f.select :state, options_for_select(@states, 'Tennessee'), class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= label_tag :zip %><br>
	<%= f.number_field :zip, min: 00501, max: 99950, class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= label_tag :phone %><br>
	<%= f.text_field :phone, placeholder: '(123) 456-7890', class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= label_tag :code, 'Code' %><br>
	<%= f.text_field :code, onchange: 'testCode(this.value);', class: 'form-control' %>
  </div>
	<%= f.submit 'Register' %>
<% end %>
</div>
  <div id="code_explain" style="display: none;">
    <p>The school code is used to select which school you are a part of.<br>
    To get to the teacher and administrative pages, go to 
    <span id="url"></span> once you have been accepted.
    </p>
  </div>
