<h1>Teachers</h1>

<table border=1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Students</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td>
					<% teacher.teaching_students.each do |student| %>
						<p><%= student.name %></p>
					<% end %>
				</td>
        <td><%= link_to 'Edit', edit_student_path(teacher) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @teachers %>
<br>

<table border=1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Confirm</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Confirm', edit_student_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @users %>
