<style type="text/css">
	body {
		background-color: #719876;
	}
</style>
<!-- <div id="login_div" class="white_box"> -->
<div class="white_box">
<h2>Portal Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br>
		<% if !params[:name].nil? %>
      <%= f.text_field :email_display, value: params[:name], disabled: true, class: 'form-control' %>
      <%# f.hidden_field :email, value: params[:name] + '@localhost.local' %>
		<% else %>
			<%= f.email_field :email, autofocus: true, placeholder: 'example@example.com', class: 'form-control' %>
		<% end %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br>
		<% if !params[:name].nil? %>
			<%= f.password_field :password, autocomplete: "off", pattern: '.{7,72}', required: true, placeholder: '7-72 characters', class: 'form-control', autofocus: true %>
		<% else %>
			<%= f.password_field :password, autocomplete: "off", pattern: '.{7,72}', required: true, placeholder: '7-72 characters', class: 'form-control' %>
		<% end %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>