// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: black;
}
#status_view {
    border-collapse: collapse;
}

#status_view thead {
    border-bottom: solid black 1px;
}

#status_view th {
    text-align: left;
}

#status_view td, #status_view th {
    padding: 0.2em 0.5em;
}

#status_view td:nth-child(1) {
    text-align: center;
}

#status_view tbody tr:nth-child(6n+4),
#status_view tbody tr:nth-child(6n+5),
#status_view tbody tr:nth-child(6n+6) {
    background-color: #eeeeee;
}
