<h1>Listing Locations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rename</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= link_to 'Rename', edit_location_path(location) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
