<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>SchoolDismissal</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
		<%= favicon_link_tag %>
  </head>

  <body class="<%= controller.controller_name %>">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<%= link_to (image_tag 'logo_small.png'), root_path, class: 'navbar-brand' %>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<% if user_signed_in? %>
							<% if User.find_by(email: current_user.email).roles.collect{|r| r.role}.include?('Parent') %>
								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Parent Portal <span class="caret"></span></a>
									<ul class="dropdown-menu">
											<li><%= link_to 'Students', portal_guardian_students_path %></li>
											<li><%= link_to 'Vehicles', portal_guardian_vehicles_path %></li>
									</ul>
								</li>
							<% end %>
							<% if User.find_by(email: current_user.email).roles.collect{|r| r.role}.include?('Teacher') %>
								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teacher Portal <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><%= link_to 'Status', portal_teacher_status_path %></li>
										<li><%= link_to 'Students', portal_teacher_students_path %></li>
								</ul>
								</li>
							<% end %>
							<% if User.find_by(email: current_user.email).roles.collect{|r| r.role}.include?('Faculty') %>
								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Portal <span class="caret"></span></a>
									<ul class="dropdown-menu">
											<li><%= link_to 'Students', students_path %></li>
											<li><%= link_to 'Users', admin_users_path %></li>
											<li><%= link_to 'Vehicles', vehicles_path %></li>
											<li><%= link_to 'Locations', locations_path %></li>
									</ul>
								</li>
							<% end %>
						<% else %>
							<li><%= link_to 'Login', new_user_session_path %></li>
							<li><%= link_to 'Signup', new_user_registration_path %></li>
							<li><%= link_to 'Register', new_school_path %></li>
						<% end %>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<% if user_signed_in? %>
							<li><%= link_to "Logout <small>#{current_user.name}</small>".html_safe, destroy_user_session_path, method: :delete %></li>
						<% end %>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>

		<div class="container">
			<div class="jumbotron">
	    	<%= yield %>
	    </div>
    </div>

  </body>
</html>
